---
// Import necessary components
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

// Pricing data
const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "All basic features",
      "One free Greatness Garden",
    ],
    button: {
      text: "Sign-up for the free beta",
      link: "/contact",
    },
  },
  {
    name: "Pro",
    price: {
      monthly: "XX",
      annual: "XX",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All basic features",
      "Personalized exercises",
      "Five Greatness Gardens",
      
    ],
    button: {
      text: "Sign-up for the free beta",
      link: "/contact",
    },
  },
  {
    name: "Premium",
    price: "XX",
    popular: false,
    features: [
      "All features",
      "Early access to new features",
      "Unlimited Greatness Gardens",
      "Improved Garden elements",
      
    ],
    button: {
      text: "Sign-up for the free beta",
      link: "/contact",
    },
  },
];
---

<!-- Layout for the Pricing page -->
<Layout title="Pricing">
  <Container>
    <!-- Section header -->
    <Sectionhead>
      <Fragment slot="title">Coming Soon</Fragment>
      <Fragment slot="desc">
       Recognify will soon launch a free beta with 1000 available slots! Sign-up to secure your free beta access.
      </Fragment>
    </Sectionhead>

    <!-- Pricing cards grid -->
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => (
        <PricingCard plan={item} />
      ))}
    </div>
  </Container>
</Layout>
