---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Conversational Assistance",
    description:
      "Recognify's conversational assistant understands what makes you unique as a person and helps you to discover your dreams, manage emotions, guide positive change, and improve overall well-being.",
icon: "bx:bxs-user",
  },
  {
    title: "Greatness Garden",
    description:
      "Recognify's virtual garden symbolizes your self-improvement journey and flourishes alongside you. Plant seeds, set goals, obtain achievements, and take steps toward the things you want to achieve in life.",
icon: "bx:bxs-user",
  },
  {
    title: "Personalized Exercises",
    description:
      "Recognify creates psychological mental-health and well-being exercises specifically for you. This way each user obtains a personalized mental journey to guide them through positive changes.",
icon: "bx:bxs-user",
  },
  {
    title: "Journaling",
    description:
      "Recognify makes journalling more fun and interactive to aid personal reflection, emotional processing and facilitate self-insights.",
icon: "bx:bxs-user",
  },
  {
    title: "Scientific Quality",
    description:
      "Recognify' combines scientific findings from psychology, neuroscience and computer science to offer the users the best possible experience.",
icon: "bx:bxs-user",
  },
  {
    title: "Enjoyable and Secure",
    description:
      "Improving your life is challenging and personal. Recognify focusses on making its service as private, secure and enjoyable - following the highest quality standards.",
icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Find your Purpose, take control of your Emotions, minimize Negative Thoughts, improve Well-being, and achieve your Goals!
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Recognify's features are designed to help people investigate their ambitions, improve their well-being, minimize psychological burden, and facilitate the journey toward living their best life.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
