---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Conversational assistance",
    description:
      "Recognify's carefully constructed assistant understands who you are as a person and what makes you unique to help you discover dreams, manage emotions, guide positive change, and improve well-being.",
icon: "bx:bxs-user",
  },
  {
    title: "Greatness Garden",
    description:
      "Recognify includes an interactive garden where your progress is symbolized. Your Greatness Garden grows along with the progress you make towards achieving your dreams.",
icon: "bx:bxs-user",
  },
  {
    title: "Personalized exercises",
    description:
      "Recognify creates psychological exercises specifically for you. This way each user obtains a personalized journey towards taking control of their journey.",
icon: "bx:bxs-user",
  },
  {
    title: "Journaling",
    description: "Recognify makes journalling more fun to aid personal reflection, emotional processing and allow for self-insights.",
icon: "bx:bxs-user",
  },
  {
    title: "Scientific quality",
    description:
      "Recognify' combines scientific findings from psychology, neuroscience and computer science to offer the users the best possible experience .",
  },
  {
    title: "Enjoyable",
    description:
      "Recognify understands that improving your life is challenging work. Therefore, Recognify puts a lot of effort into making the experience as enjoyable as possible."
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
  Find your purpose, take control of your thoughts and emotions, improve your well-being, achieve your goals, and start taking control of your journey.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Recognify's features are constructed to make living your dream as fun, effective and accessible as possible.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
