---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Conversational assistance",
    description:
      "Recognify offers real-time conversational support to help users navigate their emotions and thoughts through an interactive chatbot interface. The platform uses sophisticated language models to understand and respond to user inputs, simulating a natural and empathetic conversational experience.",
  },
  {
    title: "Journaling",
    description:
      "Recognify's chatbot prompts users with structured journaling exercises designed to aid in reflection and emotional processing. These exercises help users articulate their feelings and experiences, contributing to greater emotional awareness and self-understanding",
  },
  {
    title: "Suggested exercises",
    description:
      "The chatbot suggests mental wellness exercises based on the user's interaction history and current emotional state. These personalized exercises are aimed at promoting mental resilience and can include mindfulness practices, cognitive reframing, and more.",
  },
  {
    title: "Mood and progress tracking",
    description:
      "Recognify allows users to track their mood and emotional progress over time through interactive features within the chatbot. This tracking helps users and their therapists gauge the effectiveness of their mental health strategies and make informed adjustments.",
  },
  {
    title: "Cognitive biases detection",
    description:
      "The platform includes features to detect and address cognitive biases, helping users to challenge distorted thinking patterns and foster more balanced perspectives. Recognify's chatbot provides insights and feedback on biases, enhancing users' critical thinking and self-reflection.",
  },
  {
    title: "Engage with out community",
    description:
      "Recognify encourages users to connect with a supportive community through its platform, offering shared experiences and peer support. The chatbot facilitates community engagement, guiding users to group discussions and shared activities that enhance their social support network.",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
Multiple features, one single app  </h2>
  <p class="text-lg mt-4 text-slate-600">
   Recognify employs advanced technology to identify your thinking styles and optimize how you interpret reality.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
